<!-- Sign in -->
<div class="d-flex justify-content-around m-5">
    <div class="card w-25">
        <div class="card-body">
            <div class="text-center">
                <form class="form-signin p-2" #signinForm="ngForm" (ngSubmit)="validateUser()">
                    <h1 class="h3 m-3 font-weight-normal">Please sign in</h1>
                    
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" class="form-control mb-3 h-auto p-2" placeholder="Username" required autofocus>
                    
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" class="form-control mb-3 h-auto p-2" placeholder="Password" required>
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>